<div class="container-fluid">
    <h1>Movie Title: <%= @movie.title %></h1>

    <h2>Genre: <%= @movie.genre %></h2>
    <h2>Movie Duration: <%= @movie.duration %></h2>
    
    <div>IMDB Movie Description: <%= link_to @movie.description %></div>

    <br>    
    <div class="col-md-12 embed-responsive embed-responsive-16by9 ">
    <iframe src= "<%= @movie.trailer %>"</iframe>
    </div>

    
</div>