<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %> </h2>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>